# EDA and Cleaning

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/main_df.csv')

In [3]:
df.head(3)

,Unnamed: 0,title,subreddit,subscribers,num_comments,created,over_18,spoiler,is_video
0,0,2022 r/Formula1 Predictions Tournament,formula1,2421676,766,2022-09-01 10:21:50,False,False,False
1,1,Ex-NYPD officer gets 10 years in prison for Ja...,news,25142728,922,2022-09-01 20:35:22,False,False,False
2,2,TIL prostitution is illegal in Japan but the l...,todayilearned,28610643,741,2022-09-01 21:39:29,False,False,False

In [4]:
df.isnull().sum()

Unnamed: 0      0
title           0
subreddit       0
subscribers     0
num_comments    0
created         0
over_18         0
spoiler         0
is_video        0
dtype: int64

In [5]:
df.shape

(12541, 9)

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.shape

(12541, 9)

In [8]:
df = df.drop('Unnamed: 0', axis=1)

### Key
* created = date post was created
* over_18 = NSFW 
* is_video = video post

In [9]:
df.dtypes

title           object
subreddit       object
subscribers      int64
num_comments     int64
created         object
over_18           bool
spoiler           bool
is_video          bool
dtype: object

In [10]:
df['is_video'] = df['is_video'].astype(str)

In [11]:
df['is_video'] = df['is_video'].replace(['True', 'False'], [1, 0])

In [12]:
df['spoiler'] = df['spoiler'].astype(str)

In [13]:
df['spoiler'] = df['spoiler'].replace(['True', 'False'], [1, 0])

In [14]:
df['over_18'] = df['over_18'].astype(str)

In [15]:
df['over_18'] = df['over_18'].replace(['True', 'False'], [1, 0])

In [16]:
df.describe()

        subscribers  num_comments       over_18       spoiler      is_video
count  1.254100e+04  12541.000000  12541.000000  12541.000000  12541.000000
mean   6.028487e+06    647.357786      0.018260      0.012120      0.118332
std    1.102424e+07   2126.993919      0.133896      0.109427      0.323014
min    5.200000e+01      0.000000      0.000000      0.000000      0.000000
25%    1.425990e+05      6.000000      0.000000      0.000000      0.000000
50%    6.629460e+05     33.000000      0.000000      0.000000      0.000000
75%    5.150645e+06    245.000000      0.000000      0.000000      0.000000
max    1.714905e+08  82152.000000      1.000000      1.000000      1.000000

In [17]:
df['abv_median'] = [1 if x > 32 else 0 for x in df.num_comments]

In [18]:
df = df.drop('num_comments', axis=1)

In [19]:
df.head(3)

,title,subreddit,subscribers,created,over_18,spoiler,is_video,abv_median
0,2022 r/Formula1 Predictions Tournament,formula1,2421676,2022-09-01 10:21:50,0,0,0,1
1,Ex-NYPD officer gets 10 years in prison for Ja...,news,25142728,2022-09-01 20:35:22,0,0,0,1
2,TIL prostitution is illegal in Japan but the l...,todayilearned,28610643,2022-09-01 21:39:29,0,0,0,1

In [20]:
clean_df = df

In [21]:
clean_df.to_csv('clean_df.csv')

In [22]:
clean_df

,title,subreddit,subscribers,created,over_18,spoiler,is_video,abv_median
0,2022 r/Formula1 Predictions Tournament,formula1,2421676,2022-09-01 10:21:50,0,0,0,1
1,Ex-NYPD officer gets 10 years in prison for Ja...,news,25142728,2022-09-01 20:35:22,0,0,0,1
2,TIL prostitution is illegal in Japan but the l...,todayilearned,28610643,2022-09-01 21:39:29,0,0,0,1
3,Huge sunspot pointed straight at Earth has dev...,worldnews,29552152,2022-09-01 20:24:28,0,0,0,1
4,The bill for my liver transplant - US,mildlyinfuriating,4794146,2022-09-01 20:08:34,0,0,0,1
...,...,...,...,...,...,...,...,...
12536,My dad at 39,picrequests,87652,2022-09-02 00:30:55,0,0,0,0
12537,What are your best crowd-pleasing recipes for ...,glutenfreerecipes,48814,2022-09-02 00:48:06,0,0,0,0
12538,Wisconsin conservative activist charged with e...,politics,8191659,2022-09-02 01:15:47,0,0,0,0
12539,Possible class action by FFEL account holders?,StudentLoans,176548,2022-09-02 00:50:53,0,0,0,0
12540,"bonjour vu qu’il n’est pas très populaire, j’a...",Quebec,220297,2022-09-02 00:32:58,0,0,0,0